<?php $studentKey  = $context["studentKey"] ?>
<div class="container" style="padding-top: 3em">
  <h1>Ajouter un absence</h1>
  <form
    method="post"
    action="index.php?page=<?= PAGE_ID_ABSENCE_ADD ?>&action=add"
  >
    <div class="form-group">

    <label>Select student</label>
     <select name="studentKey" id="studentKey" class="form-control"
     <?= $studentKey  ? 'disabled':'' ?>
     >
      <?php foreach($context["studentList"] as $student): ?>

     

      <option value='<?= $student->getKey() ?>'  
       <?= ($studentKey && $student->getId() === $studentKey) ? 'selected':'' ?>
       
        ><?= $student->getFirstName() ?></option>

      <?php endforeach; ?>
     </select>

      <!-- <label>Student Key</label>
      <input type="text" name="studentKey" class="form-control"
      placeholder="Student Key" 
      value="<?= isset($studentKey) ? $studentKey: '' ?>" 
      <?= isset($studentKey) ?  'readonly' : '' ?>
     /> -->

      <div class="form-group">
        <label for="exampleInputEmail1">Date</label>

        <input id="datepicker" name="date" width="276" />
        <script>
          $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4',
          });
        </script>
      </div>
      <label for="name module">comment</label>
      <input
        type="text"
        name="comment"
        class="form-control"
        placeholder="Comment"
      />
      <label for="name module">Motif d'absence</label>
      <input
        type="text"
        name="reason"
        class="form-control"
        placeholder="Reason"
      />
    </div>
    <button type="submit" class="btn btn-primary">envoyer</button>
  </form>
</div>
