


<div class="container" style="padding-top: 3em">
  <h1>Liste d'absence</h1>
  <a href="index.php?page=<?= PAGE_ID_ABSENCE_ADD ?>">
    <input
      type="image"
      src="images/bootstrap-icons/plus.svg"
      alt=""
      class="float-right"
      width="32"
      height="32"
      title="Ajouter une absence"
  /></a>

  <input
    class="form-control"
    id="listSearch"
    type="text"
    placeholder="Chercher un etudiant absent"
  />

  <br />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Module</th>
        <th>Jour d'absence</th>
        <th>Supprimer</th>
        <th>Modifier</th>
      </tr>
    </thead>
    <tbody id="absenceList">
    <?php foreach($context["attendanceData"] as $attendanceData): ?>

    <tr>
      <td>
        <a
          href="index.php?page=<?= PAGE_ID_ABSENSE_DETAIL ?>&studentKey=<?= $attendanceData['studentKey'] ?> "
        >
          <?= $attendanceData["name"] ?></a
        >
      </td>
      <td><?= $attendanceData["lastName"] ?></td>
      <td><?=  $attendanceData["module"] ?></td>
      <td><?= $attendanceData["date"] ?></td>
      <td>
        <a
          class="navbar-brand"
          href="index.php?page=<?= PAGE_ID_ABSENCE_LIST ?>&absenceKey=<?= $attendanceData['id'] ?>&action=delete"
        >
          <img
            src="images/bootstrap-icons/trash.svg"
            alt=""
            width="32"
            height="32"
            title="Supprimer"
          />
        </a>
      </td>
      <td>
        <a
          class="float-right"
          href="index.php?page=<?= PAGE_ID_ABSENCE_EDIT ?>&absenceKey=<?= $attendanceData['id'] ?>"
        >
          <img
            src="images/bootstrap-icons/pencil-square.svg"
            alt=""
            width="32"
            height="32"
            title="Modifier"
          />
        </a>
      </td>
    </tr>

    <?php endforeach; ?>
  </tbody>
  </table>
</div>



<script>
  $(document).ready(function () {
    $('#listSearch').on('keyup', function () {
      var value = $(this).val().toLowerCase();
      $('#absenceList tr').filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>
