<div class="container" style="padding-top: 3em">
  <input class="form-control" id="listSearch" type="text" placeholder="Rechercher un module">
  <br>
  <ul class="list-group" id="moduleList">
      <?php foreach($context["attendanceData"] as $attendanceData): ?>
      <li class="list-group-item"><a
          href="index.php?page=<?= PAGE_ID_ABSENSE_DETAIL ?>&studentId=<?= $attendanceData['id'] ?> " > <?= $attendanceData["name"] ?></a></li>
      <?php endforeach; ?>
  </ul>
</div>



<script>
  $(document).ready(function () {
  $("#listSearch").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#absenceList li").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
  });
});
</script>
