<div class="container" style="padding-top: 3em">
   <h1> Vous êtes sur la page administration</h1>
<!-- faire menu deroulant pour être plus intuitif -->
    <br>
    <ul class="list-group" id="moduleList">
<!-- TODO changer chemin du lien -->
        <a class="nav-item nav-link <?= $this->getActiveStatusForPage(PAGE_ID_ADMIN_MODULE_INSCRIPTION_ENSEIGNANTS) ?>" href="index.php?page=<?= PAGE_ID_ADMIN_MODULE_INSCRIPTION_ENSEIGNANTS ?>&module=<?= $context['module'] ?>">Gerer l'inscription des Enseignants</a>
        <a class="nav-item nav-link <?= $this->getActiveStatusForPage(PAGE_ID_ADMIN_MODULE_INSCRIPTION_ENSEIGNANTS_REFERENTS) ?>" href="index.php?page=<?= PAGE_ID_ADMIN_MODULE_INSCRIPTION_ENSEIGNANTS_REFERENTS ?>&module=<?= $context['module'] ?>">Gerer l'inscription des Enseignants référents</a>
        <a class="nav-item nav-link <?= $this->getActiveStatusForPage(PAGE_ID_ADMIN_MODULE_INSCRIPTION_ETUDIANTS) ?>" href="index.php?page=<?= PAGE_ID_ADMIN_MODULE_INSCRIPTION_ETUDIANTS ?>&module=<?= $context['module'] ?>">Gerer l'inscription des Etudiants</a>

    </ul>
</div>



<script>
    $(document).ready(function () {
    $("#listSearch").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#moduleList li").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
</script>
