<div class="container" style="padding-top: 3em">
    <form method="post" action= "index.php?page=<?= MODIFY_ADMIN_MODULE_INSCRIPTION_ENSEIGNANTS?>&module=<?= $_GET['module'] ?>">
    <input class="form-control" id="listSearch" type="text" placeholder="Rechercher un enseignant">
    <br>
    <div class="form-group" >
        <ul class="list-group list-group-flush" id="teacherList">
            <p class="font-weight-bold">Selection des enseignants référents au module "<?php echo $_GET["module"];?>" :</p>
        <?php foreach($context["enseignants"] as $key => $enseignant): ?>
              <li class="list-group-item">
                <!-- Default checked -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="<?php echo $key ?>"  class="custom-control-input"  id="<?php echo $key ?>" <?php echo ($enseignant['module']==1 ? 'checked' : '');?>>
                    <label class="custom-control-label"  for="<?php echo $key?>"><?= $enseignant['name'] ?></label>

            <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="<?php echo 'module'.$key ?>" value="<?php echo $key.'_module' ?>" <?php echo ($enseignant['module']==1 ? 'checked' : '');?>>
                <label class="form-check-label" for="inlineCheckbox1">enseignant </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="<?php echo 'module'.$key ?>" value="<?php echo $key.'_moduleRef' ?>" <?php echo ($enseignant['module_ref']==1 ? 'checked' : '');?>>
                input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" <?php echo ($enseignant['module_ref']==1 ? 'checked' : '');?>> -->
                <!-- <label class="fxorm-check-label" for="inlineCheckbox2">enseignant referent</label> -->
              </div>
            </li>
        <?php endforeach; ?>
    </ul>
</div>

    <button type="submit" class="btn btn-primary">envoyer</button>
    </form>
</div>


<script>
    $(document).ready(function () {
        $("#listSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#teacherList li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>