<form>
    <div class="form-group">
        <label for="inputLogin">Nom d'utilisateur</label>
        <input type="text" class="form-control" id="inputLogin" placeholder="Entrer votre nom d'utilisateur">
    </div>
    <div class="form-group">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Entrer votre mot de passe">
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
</form>