
<div class="container" style="padding-top: 3em">
    <a href="index.php?page=<?= PAGE_ID_ETUDIANT_EDIT ?>"> <input type="image" src="images/bootstrap-icons/plus.svg" alt="" class="float-right" width="32" height="32" title="Ajouter un étudiant"></a>
    <input class="form-control" id="listSearch" type="text" placeholder="Rechercher un étudiant">
    <br>
    <ul class="list-group" id="studentList">
        <?php 
        foreach($context["etudiants"] as $key => $etudiant): ?>
            <li class="list-group-item"> <a href="index.php?page=<?= PAGE_ID_ETUDIANT_EDIT ?>&key=<?= $key ?>"> <?= $etudiant?> </a>

                <div class="float-right">
                    <a class="navbar-brand" href="index.php?page=<?= DELETE_ADMIN_ETUDIANT ?>&key=<?= $key ?>"  >
                        <img src="images/bootstrap-icons/trash.svg"  alt="" width="32" height="32" title="Bootstrap">
                    </a>
    
                    </div>
            </li>
        <?php endforeach; ?>
    </ul>
</div>



<script>
    $(document).ready(function () {
        $("#listSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#studentList li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>