<?php if($context["toastSuccess"] === true || $context["toastError"] === true): ?>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="15000"
         style="position: absolute; top: 1em; right: 1em; background-color: white">

        <div class="toast-header">
            <?php if($context["toastSuccess"] === true): ?>
                <strong class="mr-auto text-success">Succès</strong>
            <?php elseif($context["toastError"] === true): ?>
                <strong class="mr-auto text-danger">Erreur</strong>
            <?php endif; ?>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <?= $context["toastMessage"] ?>
        </div>

    </div>
<?php endif; ?>

<div class="card text-center" style="padding-top: 1em">
    <div class="card-header">
        <h4> <?= $context["moduleName"] ?> </h4>
    </div>
    <div class="card-body">
        <p class="card-text">Liste des inscrits</p>
        <ul class="list-group mx-auto w-50 p-3">
            <?php foreach($context["enrolledUsers"] as $enrolledUser): ?>
                <li class="list-group-item text-left">
                    <?= $enrolledUser->name ?>
                    <?php if($context["hasEditRights"] === true): ?>
                        <a class="float-right" href="index.php?page=absenceDetails&studentId=<?= $enrolledUser->userId ?>">
                            <img src="images/bootstrap-icons/pencil-square.svg" alt="" width="32" height="32" title="Modifier les absences">
                        </a>
                        <input type="image" src="images/bootstrap-icons/plus.svg" data-toggle="modal" data-target="#editModal" data-name="<?= $enrolledUser->name ?>"
                               data-id="<?= $enrolledUser->userId ?>" alt="" class="float-right" width="32" height="32" title="Ajouter une absence">
                        <?php if($enrolledUser->absenceCount >= 3): ?>
                            <p class="float-right badge badge-danger" style="margin-right: 1em;margin-top: 6px">Absences : <?= $enrolledUser->absenceCount ?> </p>
                        <?php else: ?>
                            <p class="float-right badge badge-dark" style="margin-right: 1em;margin-top: 6px">Absences : <?= $enrolledUser->absenceCount ?> </p>
                        <?php endif;?>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" action="index.php">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Ajouter un absence pour </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <input type="hidden" id="page" name="page" value="module">
                <input type="hidden" id="action" name="action" value="addAbsence">
                <input type="hidden" id="module" name="module" value="<?= $context['moduleName'] ?>">
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="datepicker">Date de l'absence</label>
                    <input id="datepicker" name="absenceDate" width="276"/>
                </div>
                <div class="form-group">
                    <label for="absenceTime">Heure de l'absence</label>
                    <input class="form-control" type="time" id="absenceTime" name="absenceTime"/>
                </div>
                <div class="form-group">
                    <label for="textAreaReason">Motif</label>
                    <textarea class="form-control" id="textAreaReason" name="reason" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <input type="submit" class="btn btn-primary" value="Enregistrer">

                <input type="hidden" id="userId" name="userId" value="-1">
            </div>
        </form>
    </div>
</div>

<script>
    $('#editModal').on('show.bs.modal', function (event)
    {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var userName = button.data('name'); // Extract info from data-* attributes
        var userId = button.data('id'); // Extract info from data-* attributes
        var modal = $(this);
        modal.find('.modal-title').text('Ajouter un absence pour ' + userName);
        modal.find('#userId').val(userId);

        var dateNow = new Date();
        var day = (dateNow.getDate() < 10) ? '0' + dateNow.getDate() : dateNow.getDate();
        var month = ((dateNow.getMonth()+1) < 10) ? '0' + (dateNow.getMonth()+1) : (dateNow.getMonth()+1);
        var dateFormatted = dateNow.getFullYear() + '/' + month + "/" + day;

        $('#datepicker').datepicker(
        {
            uiLibrary: 'bootstrap4',
            locale: 'fr-fr',
            format: 'yyyy/mm/dd',
        });

        $('#datepicker').datepicker().value(dateFormatted);

        var hours = (dateNow.getHours() < 10) ? '0' + dateNow.getHours() : dateNow.getHours();
        var minutes = (dateNow.getMinutes() < 10) ? '0' + dateNow.getMinutes() : dateNow.getMinutes();

        $('#absenceTime').val(hours + ":" + minutes);
    })

    $(document).ready( function ()
    {
        $('.toast').toast('show');
    });
</script>