<div class="card text-center" style="padding-top: 1em">
    <div class="card-header">
        <h4> <?= $context["moduleName"] ?> </h4>
    </div>
    <div class="card-body">
        <p class="card-text">Liste des inscrits</p>
        <ul class="list-group mx-auto w-50 p-3">
            <?php foreach($context["enrolledUsers"] as $enrolledUser): ?>
                <li class="list-group-item text-left">
                    <?= $enrolledUser ?>
                    <input type="image" src="images/bootstrap-icons/pencil-square.svg" alt="" class="float-right" width="32" height="32" title="Modifier les absences">
                    <input type="image" src="images/bootstrap-icons/plus.svg" data-toggle="modal" data-target="#editModal" data-whatever="<?= $enrolledUser ?>" alt="" class="float-right" width="32" height="32" title="Ajouter une absence">
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Ajouter un absence pour </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="textAreaReason">Motif</label>
                    <textarea class="form-control" id="textAreaReason" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>
</div>

<script>
    $('#editModal').on('show.bs.modal', function (event)
    {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var user = button.data('whatever') // Extract info from data-* attributes
        var modal = $(this)
        modal.find('.modal-title').text('Ajouter un absence pour ' + user)
    })
</script>